@using Uzbekgram.Service.Dtos.Accounts;
@model AccountRegisterDto
@{
    ViewData["Title"] = "Register Page";
    Layout = "_AccountLayout.cshtml";
}

<div class="container">
    <div class="forms">
        <div class="form signup">
            <span class="title">Ro'yhatdan o'tish</span>

            <form asp-area="" asp-controller="accounts" asp-action="register" method="post">
                <div class="input-field">
                    <input type="text" asp-for=FullName placeholder="Ism va familangizni kiriting" required>
                    <i class="uil uil-user"></i>
                </div>
                <span asp-validation-for="FullName" class="text-danger"></span>
                <div class="input-field">
                    <input type="text" asp-for=Email placeholder="Emailingizni kiriting" required>
                    <i class="uil uil-envelope icon"></i>
                </div>
                <span asp-validation-for="Email" class="text-danger"></span>
                <div class="input-field">
                    <input type="password" asp-for=Password class="password" placeholder="Parol yarating" required>
                    <i class="uil uil-lock icon"></i>
                    <i class="uil uil-eye-slash showHidePw"></i>
                </div>
                <span asp-validation-for="Password" class="text-danger"></span>

                <div class="checkbox-text">
                    <div class="checkbox-content">
                        <input type="checkbox" id="termCon">
                        <label for="termCon" class="text">Men foydalanish shartlariga roziman</label>
                    </div>
                </div>

                <div class="input-field button">
                    <input type="submit" value="Ro'yhatdan o'tish">
                </div>
            </form>

            <div class="login-signup">
                <span class="text">
                    Allaqachon a'zomisiz?
                    <a class="text" asp-controller="accounts" asp-action="login">Kirish</a>
                </span>
            </div>
        </div>
    </div>
</div>